.dl-cont-container {
  position: fixed;
  right: 5%;
  bottom: 10%;
  text-align: right;

  .dl-cont-btn {
    display: block;
    width: 25rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    background: transparent;
    text-transform: uppercase;
    color: rgb(249, 250, 251);
    border: none;
    text-align: right;
    font-size: 2rem;
    cursor: pointer;
    font-weight: 200;
    transition: color 0.25s;
    font-family: "Raleway", sans-serif;
  }

  .dl-cont-btn:hover {
    color: rgb(99, 166, 233);
  }

  .dl-cont-btn:active {
    color: rgb(99, 233, 193);
  }
}
