// Body
.img-rec-wgt-request-body {
  min-height: 240px;
}

// Tabs
.img-rec-wgt-response-input-source-tabs {
  font-size: 1rem;
  display: flex;
  width: 80%;

  .img-rec-wgt-response-input-source-tabs-name {
    flex: 1;
  }
}
