// Widget overall
.img-rec-wgt-component {
  height: auto;
  max-height: 60vh;
  overflow-y: hidden;
  min-width: 360px;
  background: rgb(231, 231, 235);
  color: rgb(51, 51, 51);
  border-top-left-radius: 15px;
  box-shadow: 0 7px 17px -6px rgba(5, 6, 7, 0.35);

  // Request phase
  @import "./image-recognition-request-phase";

  // Buttons on the widget
  button {
    background: rgba(32, 32, 32, 0.76);
    box-shadow: 0;
    border-top: 1px solid #333;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 1.3rem;
    margin-top: 1rem;
    text-transform: uppercase;
    width: 100%;
    color: rgb(249, 250, 251);
    box-shadow: inset 0 0 55px 3px rgba(10, 10, 10, 0.15);
    transition: background 0.2s;
  }
  button:hover {
    background: rgba(22, 22, 22, 0.76);
  }
  button:active {
    background: rgba(182, 182, 182, 0.76);
  }
  // Body container
  .img-rec-wgt-body-container {
    padding: 1.2rem;
  }

  // Widget User-given Image
  .img-rec-wgt-image {
    margin-bottom: 0.8rem;
    img {
      height: auto;
      max-height: 240px;
      font-size: 0.6rem;
    }
  }
  // Tags list
  .img-rec-wgt-tags-list {
    height: auto;
    max-height: 160px;
    overflow-y: scroll;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgb(248, 249, 250);
    font-size: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: default;
    // Tag item
    .img-rec-wgt-tag-item {
      border-bottom: 1px solid #eee;
      padding-left: 1rem;
      line-height: 2rem;
      display: flex;
      // Tag item name
      .img-rec-wgt-tag-item-name {
        flex: 4;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      // Tag item value
      .img-rec-wgt-tag-item-value {
        flex: 1;
        text-align: right;
        padding-right: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.7rem;
      }
    }
    // Tag item hover
    .img-rec-wgt-tag-item:hover {
      background: rgb(221, 222, 223);
    }
  }
}
