.img-rec-wgt-component {
  height: auto;
  width: auto;
  padding: 1rem;
  background: rgb(210, 230, 240);
  color: rgb(51, 51, 51);

  .img-rec-wgt-head {
    margin-bottom: 2rem;
  }

  .img-rec-wgt-tag-item-value {
    margin-left: 5rem;
  }
}
