.image {
    width: 100%;
    height: auto;
}

.imageComponent {
    transition: filter 0.5s;
  }

.imageComponent:hover {
  filter: brightness(50%);
}

.imageComponent {
    position: relative;
}

.imgButton {
    // display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#downloadButton {
    top: 70%;
}

#shareButton {
    top: 80%;
}